.full{
    color: darkseagreen;
}

.blank{
    color: lightgray;
}

.create-stars-input{
    font-size: 3rem;
    padding: 6% 0rem;
}

.main-create-review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-review-form-container{
    margin: 4% 4rem;
}

.text-area-input{
    width: 97%;
    height: 4rem;
}

.create-review-button{
    width: 100%;
    height: 25px;
    background-color: rgb(24, 108, 104);
    border-radius: 3px;
    color: white;
    margin: 4% 0%;
}
