.single-restaurant-container{
    display: grid;
    justify-items: center;
    justify-content: center;
}

.restaurant-details-container{
    display: flex;
    border-radius: 35px;
    margin: 10% 15%;
    background-color: rgb(24, 108, 104);
    height: 20rem;
}

.single-restaurant-image-container img{
    width: 40rem;
    height: 20rem;
    border-radius: 35px;
}

.single-restaurant-details-container{
    width:20rem;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    border-radius: 5%;
}

.review-information-container{
    border-bottom: 1px solid black;
}

.all-reviews-container{
    display: grid;
    width: 100%;
    gap: 1rem;
}

.all-items-container{
    display: grid;
    justify-content: center;
    justify-items: end;
}

.item-info-container{
    display: grid;
    border: 1px solid black;
    border-radius: 20px;
    margin: 15px;
    padding: 5px;
    width: 60rem;
}
