.main-create-restaurant-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 4rem;
}

.create-restaurant-form-container input{
    width: 21rem;
    height: 18px;
    margin: 3% 0%;
}

.create-restaurant-form-container{
    font-weight: bold;
    font-size: 1rem;
}

.create-new-restaurant-button{
    width: 100%;
    height: 25px;
    background-color: rgb(24, 108, 104);
    border-radius: 3px;
    color: white;
    margin: 4% 0%;
}
