.all-restaurants-container{
    display: flex;
    border: 1px dashed black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    /* background-color: rgb(24, 108, 104); */
}

.restaurant-tile-container{
    display:grid;
    border: 1px dashed black;
    width: 25%;
    margin: 5px;
    height: 25rem;
    border-radius: 5%;
    background-color: rgb(24, 108, 104);
}

.restaurant-tile-container > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.restaurant-tile-container img{
    width:100%;
    height: 21rem;
    border-radius: 5%;
    object-fit: fill;
}


.restaurant-tile-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
