.profile-dropdown {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 10px;
}

.hidden {
  display: none;
}

.nav-button{
  width: 3rem;
  height: 3rem;
  border: none;
  background: white;
  cursor: pointer;
}

.navigation-bar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px rgb(172 169 169);
}

.nav-icon{
  width: 3rem;
  border-radius: 5px;
}

.title-logo{
  width: 11rem;
}

.drop-down-menu{
  display: grid;
  row-gap: 9px;
  justify-items: end;
  justify-items: center;
}

.manage-restaurants-button{
  border: none;
  background: none;
  color: rgb(24, 108, 104);
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-size: medium;
}
