.home-page-main-container{
    display: flex;
    margin: 1rem 14rem;
    flex-direction: column;
    align-items: center;
}

.home-first-section-container{
    display: flex;
    align-items: center;
}

.home-middle-section-container img{
    height: 12rem;
    width: 12rem;
}

.home-middle-section-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-third-section-container{
    display: flex;
    align-items: center;
}

.linked-in-logo{
    height: 2rem;
}

.get-bubba-button{
    border: solid 1px black;
    border-radius: 21px;
    text-decoration: none;
    color: white;
    background-color: rgb(24, 108, 104);
    padding: 7% 14%;
}

.find-restaurants-button{
    width: 10rem;
    height: 2rem;
    border-radius: 16px;
    font-weight: bold;
    background-color: rgb(24, 108, 104);
    color: white;
    cursor: pointer;
}

.sign-in-modal-button{
    background-color: rgb(24, 108, 104);
    width: 5rem;
    height: 2rem;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sign-up-modal-button{
    background-color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.third-section-info-container{
    display: grid;
    row-gap: 1rem;
    justify-items: center;
}

.footer-section-container{
    width: 130%;
    border-top: solid 1px rgb(172 169 169);;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer-created-by{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.home-page-main-container img {
    border-radius: 15px;
}
